<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style type="text/css">

        .content {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            padding-top: 50px;
        }

    </style>
</head>
<body>

<div class="content">

    <a href="/">Back</a>
    <h1 text="Add component"></h1>

    <form th:action="|/recipe/${recipe.id}/component/add|" th:object="${components}" method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Component name:</label>
            <input type="text" class="form-control" id="name" placeholder="egg" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="grammage" class="form-label">Grammage:</label>
            <input type="text" class="form-control" id="grammage" placeholder="1/2" th:field="*{grammage}">
        </div>

        <input style="width: 150px;height: 60px; margin-top: 15px; border: 2px solid black; background-color: darkorchid; color: white"
               type="submit" th:value="Add">

    </form>


</div>

</body>
</html>